<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1" align="center">
    <th>id</th>
    <th>picture</th>
    <th>username</th>
    <th>email</th>
    <th>nb_books</th>
    {% for author in authors %}
        {% if author.id==id %}
            <tr>
                <td>{{author.id}}</td>
                <td><img src="{{author.picture}}" alt=""/></td>
                <td>{{author.username|upper}}</td>
                <td>{{author.email}}</td>
                <td>{{author.nb_books}}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
</body>
</html>